{{ define "button" }}
    <button class="{{ .class }}">{{ .label }}</button>
{{ end }}

<style>
.primary {
    background-color: dodgerblue;
    color: white;
}

.secondary {
    color: dodgerblue;
}
</style>
