<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {{ block "head" . }}{{ end }}

        <style>
            html {
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: 16px;
            }

            h1,h2,h3,h4,h5,h6 {
                font-size: 1rem;
                font-weight: 500;
                color: gray;
            }

            h1 { color: black }

        </style>
    </head>
<body style="margin-top: 128px">
    {{ block "main" . }}baseof.html{{ end }}
</body>
</html>
