{{ $id := .id }}
<list>
    <navigation-title>{{ .params.navigationTitle }}</navigation-title>
    {{ $items := split .params.items "|" }}
    <ul>
      {{ range $index, $item := $items }}
        <label for="item-{{ add $index 1 }}-{{ $id }}"><li>{{ $item }}</li></label>
      {{ end }}
    </ul>
</list>

<style>
*, *::after, *::before {
    box-sizing: border-box;
}

iphone-screen list {
    display: block;
}

iphone-screen list navigation-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 12px; /*@todo*/
}


iphone-screen ul {
    list-style: none;
}

iphone-screen list {
    padding: 16px;
    background: #efeef5;
}

iphone-screen list ul {
    background: white;
    border-radius: 8px;
}
iphone-screen list ul label {
    position: relative;
    display: block;
}

iphone-screen list ul label li {
    position: relative;
    padding: 8px 16px;
    transition: background 0.2s ease;
    cursor: pointer;
    z-index: 1;
}

iphone-screen list ul label:not(:first-child)::after {
  content: '';
  position: absolute;
  left: 16px;
  right: 0;
  height: 0.5px;
  top: 0;
  background-color: #D2D1D7;
}

iphone-screen list ul label li::before {
  transition: background 0.2s ease;
}


iphone-screen list ul label li:hover::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: -1px;
  background: #D2D1D7;
  border-radius: inherit;
  z-index: -1;
}

iphone-screen list ul label:first-child > li {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

iphone-screen list ul label:last-child > li {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

iphone-screen list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: left 0.5s ease;
    color: black
}

iphone-screen list.shown {
    left: -25%;

}
</style>
