{{ $name := "world" }}
<div>
Hello, {{ .name }}!

{{ $other := .Page.Resources.GetMatch "other.gotmpl" }}
{{ $renderedOther := $other | resources.ExecuteAsTemplate $other.Name . }}
{{ $renderedOther.Content }}


{{ partial "include.html" (dict
    "src" "icon.gotmpl"
    "context" (dict "name" "arrow" "size" "small")
    "page" .Page) }}
<div>
