{{ $name := "world" }}
<div>
Hello, {{ .name }}!

{{ partial "include" (dict "src" "other.gotmpl" "page" .Page "context" .) }}
{{ partial "include" (dict "src" "other.gotmpl" "page" .Page "context" .) }}
{{ partial "include" (dict "src" "other.gotmpl" "page" .Page "context" .) }}

{{ partial "include" (dict
    "src" "icon.gotmpl"
    "context" (dict "name" "arrow" "size" "small")
    "page" .Page) }}
</div>
